.msg-light {
  appearance: none;
  background: transparent;
  outline: none;
  border: none;
  color: #212529;
  font-family: monospace;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-align: center;
  width: 100%;
}

.msg-dark {
  appearance: none;
  background: transparent;
  outline: none;
  border: none;
  color: #f8f9fa;
  font-family: monospace;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-align: center;
  width: 100%;
}

.fixed {
  height: 10%;
  padding-top: 1em;
  padding-bottom: 2em;
  position: fixed;
  width: 100%;
  bottom: 0;
}
