.nav-light {
  background-color: #f8f9fa;
  color: rgb(63, 63, 63);
}

.nav-dark {
  background-color: #212529;
  color: #f8f9fa;
}

.small-form {
  padding-left: 1em;
}

@media screen and (min-width: 800px) {
  .small-form {
    display: none;
  }
}
