.page-light {
  background-color: #f8f9fa !important;
  color: #212529;
}

.page-dark {
  background-color: #212529 !important;
  color: #f8f9fa;
}

.page-text-muted {
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  /* user-select: auto; */
  color: #8d8d8d;
  font-family: monospace;
  font-size: 1em;
  letter-spacing: 0.1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0em;
  padding-right: 0em;
  width: 100%;
  word-wrap: break-word;
}

.page-text-light {
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  caret-color: #212529;
  /* user-select: auto; */
  color: #212529;
  width: 100%;
  min-height: 65vh;
  font-family: monospace;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  resize: none;
  white-space: nowrap;
}

.page-text-dark {
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  caret-color: #f8f9fa;
  /* user-select: auto; */
  color: #f8f9fa;
  width: 100%;
  min-height: 65vh;
  font-family: monospace;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  resize: none;
  white-space: nowrap;
}

textarea::-webkit-scrollbar {
  background: transparent;
  height: 0.25em;
  width: 0.25em;
  padding-right: 4px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea.page-text-light::-webkit-scrollbar-thumb {
  background-color: #212529;
  border-radius: 5px;
}

textarea.page-text-dark::-webkit-scrollbar-thumb {
  background-color: #f8f9fa;
  border-radius: 5px;
}

.page-msg-light {
  appearance: none;
  background: transparent;
  outline: none;
  border: none;
  color: #212529;
  font-family: monospace;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-align: center;
  padding-top: 1em;
}

.page-msg-dark {
  appearance: none;
  background: transparent;
  outline: none;
  border: none;
  color: #f8f9fa;
  font-family: monospace;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-align: center;
  padding-top: 1em;
}

.page-results-light {
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  caret-color: #212529;
  color: #212529;
  width: 100%;
  min-height: 65vh;
  font-family: monospace;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  overflow: hidden;
  resize: none;
}

.page-results-dark {
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  caret-color: #f8f9fa;
  color: #f8f9fa;
  width: 100%;
  min-height: 65vh;
  font-family: monospace;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  overflow: hidden;
  resize: none;
}

.page-results-light,
.page-results-dark::-webkit-scrollbar {
  width: none;
}
