.jot-text-light {
  color: #212529;
}

.jot-text-dark {
  color: #f8f9fa;
}

.any-textarea {
  appearance: none;
  height: 80vh;
  background: transparent;
  border: none;
  outline: none;
  font-family: monospace;
  font-size: 1em;
  letter-spacing: 0.1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0em;
  padding-right: 0em;
  width: 100%;
  word-wrap: break-word;
}

textarea::-webkit-scrollbar {
  background: transparent;
  height: 0.25em;
  width: 0.25em;
  padding-right: 4px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

.page-results {
  appearance: none;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100%;
  font-family: monospace;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  overflow: hidden;
  resize: none;
}

.no-scroll::-webkit-scrollbar {
  width: none;
}