.jot-container {
  height: 1000px;
  color: inherit;
}

.text-container {
  height: 100%;
}

.any-textarea {
  appearance: none;
  height: 70vh;
  background: transparent;
  border: none;
  outline: none;
  font-family: monospace;
  font-size: 1em;
  letter-spacing: 0.1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0em;
  padding-right: 0em;
  width: 100%;
  resize: none;
  color: inherit;
}

.center-textarea {
  white-space: nowrap;
}

textarea::-webkit-scrollbar {
  background: transparent;
  height: 0.25em;
  width: 0.25em;
  padding-right: 4px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}