.jot-container {
  height: 1000px;
  color: inherit;
}

.text-container {
  height: 100%;
}

.any-textarea {
  appearance: none;
  height: 70vh;
  background: transparent;
  border: none;
  outline: none;
  font-family: monospace;
  font-size: 1em;
  letter-spacing: 0.1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0em;
  padding-right: 0em;
  width: 100%;
  resize: none;
  color: inherit;
}

/* .side-textarea {
  white-space: nowrap;
} */

textarea.side-textarea::-webkit-scrollbar {
  display: none;
}

.center-textarea {
  white-space: nowrap;
}

textarea.center-textarea::-webkit-scrollbar {
  width: 0.6em;
  height: 0.6em;
}

/* 
textarea.center-textarea::-webkit-scrollbar:hover {
  cursor: pointer;
} */

textarea.center-textarea::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}

textarea.center-textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #8c8c8c;
}

textarea.center-textarea::-webkit-scrollbar-thumb:hover,
textarea.center-textarea::-webkit-scrollbar-thumb:active {
  background: #3c3c44;
}

textarea.center-textarea::-webkit-scrollbar-corner {
  display: none;
}
